.scanner {
  border: var(--hud-border);
  background: var(--hud-bg);
  padding: 4px;
  display: block;
}

.label {
  font-size: 9px;
  text-align: center;
  opacity: 0.6;
  margin-top: 2px;
  letter-spacing: 2px;
}
